7sem/partDiffEq/*.txt
7sem/diffur/*.txt
7sem/diffur/plotst.ipynb
7sem/diffur/bin/a.out
7sem/diffur/obj
7sem/partDiffEq/data.txt
7sem/partDiffEq/dudt.txt
7sem/partDiffEq/dudx.txt
7sem/partDiffEq/f.txt
7sem/partDiffEq/bin/a.out
7sem/partDiffEq/obj/main.d
7sem/partDiffEq/obj/main.o
8sem/obj
8sem/bin
8sem/*.txt
8sem/*.csv
8sem/plotst.ipynb
8sem/*.png
